<?xml version="1.0"?>

<document>
  <properties>
    <title>NYX - Internals - ApplicationContext</title>
    <author email="martin@mvdb.net">Martin van den Bemt</author>
  </properties>

<body>

<section name="ApplicationContext">
  <p>
    The applicationContext is the main entry for the nyx system. 
    It is a singleton system in which you can register implemented 
    interfaces that nyx provides. Like fieldeventhandlers, nativewidgethandlers,
    the nyxtoolkit and parentwidgethandlers. 
  </p>
  <subsection name="Blah blah">
  <p>
  </p>
  </subsection>
</section>

</body>

</document>
